.banner__marquee {
  .bannerMarquee__free,
  .bannerMarquee__premium {
    p {
      margin-left: 7rem;
      margin-bottom: 4rem;
      font-size: 3rem;
      font-weight: 600;
      // font-family: "Josefin Sans", sans-serif;
    }
    .banner__marquee-image {
      img {
        height: 31rem;
        width: 18rem;
        margin: 0 1rem;
      }
    }
  }
  .bannerMarquee__premium {
    margin-top: 5rem;
  }
}
